<div flexcontainer w-750-88 aspectratio aspect-ratio="750/88">
  <div aspectratio-content>
    <span class="sf-back">
        <i class="head-icon"></i>
      </span>
    <span class="sf-title show" data-topic="1">
        <a href="#">
          <img src="../../assets/images/logo.jpg">
          <span>骑士队</span>
    </a>
    </span>
    <span class="sf-tools">
        <i class="head-icon"></i>
      </span>
  </div>
</div>