@import "./common/_common.css"; 

body {
  img {
    width: 325px;
  }
  nav {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
    height: 200px;
  }
  input {
    width: 200px;
    height: 32px;
    font-size: 18px;
  }
}

::placeholder {
  color: blue;
}

.bg {
  background: url('../images/p3.png');
  height: 100px;
}

.className {
  color: seagreen;
}