{{#> layout }} 

  {{>nav }} 

  <div class="wrap">
    <div flexcontainer w-750-366 aspectratio aspect-ratio="750/366">
      <div aspectratio-content>
        <header class="landingHead">
          <h1 class="titleFont">
            <span class="titleTxt">骑士詹皇又一里程碑倒计时！1数据或超乔丹封王，哈登差8年</span>
            <div class="titleLogo"></div>
          </h1>
          <section>
            <h3>
              <div class="avatarLink">
                <a href="#">
                  <img src="../assets/images/timg.jpeg">
                  <span class="vip"></span>
                </a>
              </div>
              <div class="extraInfo">
                <a href="#">
                  <div class="authorName">李喜林篮球绝杀</div>
                </a>
                <div class="infoSet">
                  <span class="afrSplit">百家号</span>
                  <span>03-27 13:24</span>
                </div>
              </div>
            </h3>
            <div class="followSuper">关注</div>
            <div class="followMoreIcon activeClose">
              <span class=""></span>
            </div>
          </section>
        </header>
      </div>
    <div>
    <div class="mainContent androidStyle">
      <p class="contentText contentFont  commonPadding">
        <span class="bjh-p">
          33岁的詹姆斯在这个赛季跨越了一座座里程碑，证明了自己仍然是联盟第一人。眼下，詹姆斯又即将跨越一座里程碑，他在常规赛已经连续864场比赛得分上双，距离超越乔丹保持的连续866场纪录只剩3场。如果没有意外，詹姆斯将在本周六（3月31日）面对鹈鹕的比赛完成对乔丹的超越。
          <span class="bjh-br"></span>
        </span>
      </p>
      <div class="contentImgContainer commonPadding">
        <div class="contentImg">
          <div>
            <img src="../assets/images/three.jpeg" data-index="0" onload="landingfip.getFimgTim()">
          </div>
        </div>
      </div>
      <p class="contentText contentFont  commonPadding">
        <span class="bjh-p">连续867场得分上双是什么概念？一个赛季82场常规赛，这意味着球员起码要连续10个赛季以上出战得分上双。这一方面考验球员的得分能力，另一方面则考验球员的身体持久耐用性。</span>
      </p>
      <p class="contentText contentFont  commonPadding">
        <span class="bjh-p">如果没有在第二个赛季受伤，如果没有在1994年和1998年两次退役，乔丹的连续上双次数原本会更长。而正因为如此，詹姆斯在这项数据上有了超越乔丹的机会，因为他的身体待机能力比乔丹更强。</span>
      </p>
      <div class="contentImgContainer commonPadding">
        <div class="contentImg">
          <div>
            <img src="../assets/images/two.jpeg" data-index="1">
          </div>
        </div>
      </div>
      <p class="contentText contentFont  commonPadding">
        <span class="bjh-p">乔丹在1985-86赛季遭受了左脚骨折重伤，他在复出初期状态不稳，其中第五场比赛只得到8分。但是随后他掀起了连续得分上双风暴，一直持续到2001年他披上奇才的战袍，最终定格为866场。詹姆斯这次的连续得分上双起始于2007年1月7日面对篮网的比赛得到19分。他在此前一场与雄鹿的比赛只得到8分。从2007年到现在已经过去11年。詹姆斯历经了转投热火组建三巨头夺得两个冠军，又重返骑士夺得1个冠军。
        </span>
      </p>
      <p class="contentText contentFont  commonPadding">
        <span class="bjh-p">詹姆斯的特质从未改变，那就是稳定而持久耐用。他不会轻易受伤，有一些比赛脚踝扭到了，他活动一番，然后系紧鞋带又是生龙活虎。骑士将在3月28日和29日背靠背战热火与黄蜂，然后在3月31日与鹈鹕交手。詹姆斯如今状态火爆，3月份的每一战得分都超过20分，以他的势头，破掉乔丹的纪录不是难事。
        </span>
      </p>
      <p class="contentText contentFont  commonPadding">
        <span class="bjh-p">NBA现役球员中，杜兰特以连续562场得分上双排名第二，他的纪录断掉是因为在北京时间2017年3月1日面对奇才的比赛只打了2分钟就膝盖受伤离场，一分未得。杜兰特遗憾丢掉了追赶詹姆斯和乔丹的机会。
        </span>
      </p>
      <div class="contentImgContainer commonPadding">
        <div class="contentImg">
          <div>
            <img src="../assets/images/one.jpeg" data-index="2">
          </div>
        </div>
      </div>
      <p class="contentText contentFont  commonPadding">
        <span class="bjh-p">火箭核心哈登如今已经连续258场比赛得分上双，在现役球员中排名第三，他要追赶乔丹与詹姆斯也差了太远。如果哈登要追上乔丹的连续866场得分上双，那么他起码还要打8个赛季且一直得分上双。只能说乔丹和詹姆斯的稳定与持久耐用令人敬畏。</span>
      </p>
      <p class="contentText contentFont  commonPadding">
        <span class="bjh-p">
          <span class="bjh-br"></span>
        </span>
      </p>
      <p class="contentText contentFont  commonPadding">
        <span class="bjh-p">
          <span class="bjh-br"></span>
        </span>
      </p>
      <p class="contentText contentFont  commonPadding">
        <span class="bjh-p"></span>
      </p>
    </div>
  </div>
  
{{/ layout }}