{{#> layout }} 
  {{>nav }}
  <h1>Home Page2</h1>
  <a style="color: brown" href="/about.html">关于</a>
  <img src="../assets/images/footer.png" alt="">
  <img src="../assets/images/test/p0.png" alt="">
  <div>{{global.VERSION}}</div>
  <div>{{VERSION}}</div>
  <div class="className">className</div>
  <input type="text" placeholder="adfadfad">
  <h1>css background</h1>
  <div class="bg"></div>
{{/ layout }}